<div class="swiper" #swiperDiv>
  <div class="swiper-wrapper">
    <ng-container *ngIf="carouselImages.length; else noImages">
      <div class="swiper-slide" *ngFor="let imageUrl of carouselImages; let i = index">
        <img [src]="imageUrl" [alt]="'Slide ' + (i + 1)"
          class="w-full h-full object-cover animate-fadeIn" />
      </div>
    </ng-container>
    <ng-template #noImages>
      <div class="swiper-slide">
        <div class="flex items-center justify-center h-48 bg-gray-200 rounded-lg">
          <p class="text-gray-500">No hay imágenes disponibles</p>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
