@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --app-font-family: Roboto;
  --app-font-size: 16px;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--app-font-family), "Helvetica Neue", sans-serif;
  font-size: var(--app-font-size);
}
